*
{
	box-sizing:border-box;
	margin:0;
	padding:0;
}
h1
{
	text-align:center;
	margin-bottom:25px;
	margin-top:30px;
}
div
{
	padding:20px;
	margin-left:0px;
	text-align:center;
}
.x
{
	background-color:#999999;
	width:90%;
	padding:25px;
	border:2px solid black;
	margin-left:0px;
	margin-bottom:20px;
	position:relative;
}
p
{
	border:2px solid black;
	height:25px;
	width:100px;
	margin-top:-2px;
	margin-right:-2px;
    text-align:center;
    float:right;
    position:absolute;
    top:0;
    right:0;
}
#p1
{
	background-color:#d59898;
}
#p2
{
	background-color:#c14543;
	color:white;
}
#p3
{
	background-color:#e5d198;
}
section
{
	clear:both;
}
/*@media (min-width:992px)
{
	.col-lg-3
	{
		float:left;
		border:1px solid black;
		width:33.33%;
	}

}*/
@media (min-width: 992px) 
{
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
      padding: 15px;
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 75%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }
  }
@media (min-width:768px) and (max-width:991px)
{
	.col-md-6,.col-md-12
	{
		float:left;
		border:1px solid black;
	}
	.col-md-6
	{
		width:50%;
	}
	.col-md-12
	{
		width:100%;
	}
}